{% extends "template.html" %}
{% block javascript %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Set buttons disabled by default. Only enable if form is not empty
        document.querySelector("#add").disabled = true;
        document.querySelector("#send").disabled = true;

        document.querySelector("#channel").onkeyup = () => {
            if (document.querySelector("#channel").value.length > 0) {
                document.querySelector("#add").disabled = false;
            }
            else {
                document.querySelector("#add").disabled = true;
            }
        };

        document.querySelector("#message").onkeyup = () => {
            if (document.querySelector("#message").value.length > 0) {
                document.querySelector("#send").disabled = false;
            }
            else {
                document.querySelector("#send").disabled = true;
            }
        };

        // Get unique username from HTML page
        var username = document.querySelector("#username").value;
        
        // Set user name and channel onload. Get messages.
        curr_chnnl = document.querySelector('#channels').value;
        localStorage.setItem(username, curr_chnnl);
        getMessages(curr_chnnl);

        // Listening for form submission for addding new channel
        document.querySelector('#add').onclick = () => {
            // store channel from input field and the clear input field
            const channel  = document.querySelector('#channel').value;
            document.querySelector('#channel').value = "";

            // don't add channel and give error message
            var x = document.querySelector("#channels");
            for (i=0; i < x.length; i++) {
                if (channel === x.options[i].text) {
                    alert("The channel already exists! :/");
                    return;
                }
            };
            
            // open a AJAX request
            const request = new XMLHttpRequest();
            request.open("POST", "/chat");

            // when request is recieved from server-side, laod and append data
            request.onload = () => {
                const data  =  JSON.parse(request.responseText);
                    var option = document.createElement('option');
                    option.text = (data.channel);
                    option.value = (data.channel);
                    document.querySelector('#channels').add(option);
                // TODO detect duplicate channels  / prevent empty submissions
            }
            //send data to Flask route to store new channel server-side
            const data  = new FormData();   
            data.append('channel', channel);
            request.send(data);

            // disable server side form submission
            return false;
        };

        // Listen to input changes
        document.addEventListener('input', function(event) {

             // Check if it was a change in select options
            if (event.target.id !== 'channels') return;

            // Clear messages in the channel
            var list = document.querySelector('#messages');
            while (list.hasChildNodes()) {
                list.removeChild(list.firstChild);
            };
            
            // Set current channel to slected option
            const curr_chnnl = event.target.value;
            localStorage.setItem(username, curr_chnnl);

            // Get messages 
            getMessages(curr_chnnl);
        });

        // Set socket connection
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

        // Send message to server once message is submitted
        socket.on('connect', () => {
            //TODO Disable button while form empty

            document.querySelector('#send').onclick = () => {
                // store message value and then clear the input field
                var msg = document.querySelector('#message').value;
                document.querySelector('#message').value = "";

                // passing channel and message data
                socket.emit('send msg', {'msg': [msg, localStorage.getItem(username)] });

                // disable serverside submission
                return false;
            };
        });
        
        socket.on('broadcast msg', data => {
            // have a conditional to check if channel matches
            var msg = data.msg;
            var curr_chnnl = localStorage.getItem(username);
            
            // If user is on the same channel as receiving message then load the message
            if (curr_chnnl === msg[3]){
                
                // DEBUGGIN => alert(`Channels match. Receiving broadcast. My channel: ${curr_chnnl}`)
                var li = document.createElement('li');
                
                // craft message with timestamp  and everything
                var content = `${msg[2]} | ${msg[0]}:\n ${msg[1]}`;

                //Adding message to the message list
                li.appendChild(document.createTextNode(content));
                li.className = 'list-group-item';
                document.querySelector('#messages').appendChild(li);
            };
            
        });
    });

    // Function to get messages for a particular channel
    function getMessages(channel) {
        // Open a AJAX request to messages route
        const request = new XMLHttpRequest();
        request.open("POST", "/messages");
        
        // Listen to AJAX request load
        request.onload = () => {
            // Parse response to JSON object
            const messages = JSON.parse(request.responseText);

            // Parse array of messages and append as list item
            for (message of messages) {
                var msg = `${message[2]} | ${message[0]}:\n ${message[1]}`;
                var li = document.createElement('li');
                li.appendChild(document.createTextNode(msg));
                li.className = 'list-group-item';
                document.querySelector('#messages').appendChild(li);
            };
        };
        
        // Submitting form data 
        const data  = new FormData();   
        data.append('channel', channel);
        request.send(data);
        return false;
    }

</script>
{% endblock %}

{% block title %} Chat {% endblock %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col">
        <h3>Channels</h3>
        <h5 id="username">{{username}}</h5>
        <select id="channels">
            {% for channel in channels %}
            <option value={{channel}}>{{channel}}</option>
            {% endfor %}
        </select>
        <form id="form">
            <div class="form-group col-8">
                <input type=text id="channel" placeholder="Add new channel" class="form-control-plaintext">
                <input type="submit" id="add" value="Add" class="btn btn-primary mb-2">
            </div>
        </form>
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                Messages
            </div>
            <ul class="list-group list-group-flush" id="messages">
                <!-- Add stuff with AJAX query -->
            </ul>
        </div><br>
        <form>
            <div class="form-group col-8">
                <input type='text' id='message' placeholder='say something :)' class="form-control-plaintext">
                <input type='submit' id='send' value='Send' class='btn btn-primary mb-2'>
            </div>
        </form>
    </div>
</div>
{% endblock %}