{% extends "template.html" %}

{% block javascript %} {% endblock %}

{% block title %} Join {% endblock %}
{% block content %}
<div class="row justify-content-md-center">
    <form action="{{ url_for('index')}}" method="POST">
    <div class="form-group">
        <label class="form-label">Username</label>
        <input type="text" autofocus name="username" class="form-control-plaintext">
    </div>
    <div>
        <button type="submit" id="join" class="btn btn-primary mb-2">Join</button>
    </div>
    </form> 
</div>
{% endblock %}