<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='stylesheet.css')}}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        {% block javascript %} {% endblock %}
        <title>Flack - {% block title %}  {% endblock %}</title>
    </head>
    <body>
        <nav class="navbar sticky-top navbar-light bg-light">
            <span class="navbar-brand mb-0 h1" href="#">Flack</span>
            <a class="nav-link" href="{{url_for('leave')}}">Leave</a>
        </nav>
        <div class="container" id="body">
            {% block content %} {% endblock %}
        </div>
    </body>
</html>

